<?xml version="1.0" ?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Reindex
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mbmavenbird" sortOrder="100" translate="label" class="tab-mavenbird-extensions">
            <label><![CDATA[Mavenbird Extensions]]></label>
        </tab>
        <section id="mavenbird_reindex" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <tab>mbmavenbird</tab>
            <label>Reindex</label>
            <resource>Mavenbird_Reindex::config_mavenbird_reindex</resource>
            <group id="about_mavenbird" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <attribute type="expanded">1</attribute>
                <label>About Mavenbird Reindex</label>
                <!-- <field id="Mavenbird_Reindex" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>Mavenbird\Core\Block\Adminhtml\System\Config\Composer\Version</frontend_model>
                </field> -->
                <field id="link" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configuration</label>
                    <frontend_model>Mavenbird\Reindex\Block\Adminhtml\System\Config\Form\Field\Link</frontend_model>
                </field>

                <field id="strategy" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Strategy</label>
                    <source_model>Mavenbird\Reindex\Block\Adminhtml\System\Config\Source\Strategy</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
